.party-member {
    margin: 5px;
    width: 100%;
    background-color:dimgray;
}

.party-slot {
    margin: 5px;
    width: 100%;
    background-color:dimgray;
    display:flex
}

.empty-slot {
    display: flex;
    justify-content: center;
}

.empty-slot img {
    margin: 10px;
    width: 115px;
    height: 115px;
}

.icon img {
    width: 115px;
    height: 115px;
}

.options {
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.party-member-types {
    display: flex;
    justify-content: center;
}

.ability-select {
    width: 80px;
    height: 35px;
    white-space: normal;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.move-list {
    margin: 5px;
}

.move {
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 3px;
}

.icon img {
    margin: 5px;
}